{% extends "base.html" %}
{% load static %}

{% block title %}Categoria: {{ categoria|title }} - Sports News{% endblock %}

{% block content %}
<div class="container-content">
  <h1>Notícias de {{ categoria|title }}</h1>

  <div class="news-grid">
    {% for noticia in noticias %}
      <div class="news-item">
        <div class="noticia-item">
          <!-- Exibir a imagem da notícia à esquerda -->
          {% if noticia.imagem %}
            <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}" class="imagem-noticia">
          {% else %}
            <img src="{% static 'images/sem-imagem.jpg' %}" alt="Imagem" class="imagem-noticia">
          {% endif %}
          
          <!-- Título da notícia com link para a página completa -->
          <div class="texto-noticia">
            <h5><a href="{% url 'noticia' noticia.pk %}">{{ noticia.titulo }}</a></h5>
            <p>{{ noticia.descricao|truncatewords:20 }}</p>
            <a href="{% url 'noticia' noticia.pk %}">Leia mais</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>Nenhuma notícia disponível nesta categoria.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
