{% extends "base.html" %}

{% block title %}Categoria: {{ categoria|title }} - Sports News{% endblock %}

{% block content %}
<div class="container-content">
  <h1>Notícias de {{ categoria|title }}</h1>

  <div class="news-grid">
    {% for noticia in noticias %}
      <div class="news-item">
        <div class="card-noticia">
          <!-- Exibir a imagem da notícia -->
          <img src="{{ noticia.imagem_url }}" alt="{{ noticia.titulo }}">
          <div class="titulo-noticia">{{ noticia.titulo }}</div>
          <div class="descricao-noticia">{{ noticia.descricao }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
