{% extends "base.html" %}

{% block title %}{{ noticia.titulo }} - Sports News{% endblock %}

{% block content %}
<div class="container-content">
  <div class="noticia-completa">
    <h2>{{ noticia.titulo }}</h2>

    <p><strong>Categoria:</strong> {{ noticia.categoria|capfirst }}</p>
    <p><strong>Publicado em:</strong> {{ noticia.data_publicacao|date:"d/m/Y H:i" }}</p>

    <!-- Exibir a descrição com a imagem inserida no texto -->
    <div class="descricao">
      <p>{{ noticia.descricao|safe }}</p>
      
      <!-- Inserir a imagem no meio do conteúdo -->
      {% if noticia.imagem %}
        <img src="{{ noticia.imagem.url }}" alt="Imagem da notícia" class="img-fluid mb-3 ">
      {% endif %}

      <p>Texto continuando após a imagem...</p>
    </div>

    <!-- Botão para voltar à página anterior -->
    <a href="{% url 'categoria' noticia.categoria %}" class="btn btn-primary mt-3">Voltar à Categoria</a>
  </div>
</div>
{% endblock %}
